:{$PORT}

root * dist
encode gzip zstd

handle /api/* {
	reverse_proxy localhost:3001
}

handle /admin* {
	try_files {path} /admin/index.html
	file_server
}

handle {
	file_server
}

handle_errors {
	rewrite * /404.html
	file_server
}
